/* Breakpoint mixins */

$small: 480px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;


@mixin small {
 	@media (min-width: #{$small}) {
    	@content;
  	}
}

@mixin medium {
	@media (min-width: #{$medium}) {
		@content;
	}
}

@mixin large {
	@media (min-width: #{$large}) {
		@content;
	}
}

@mixin xlarge {
	@media (min-width: #{$extra-large}) {
		@content;
	}
}
