// *** VARIABLES ***

// COLOURS

// Base set
$iris: #7830ff;
$night: #100030;
$moonlight: #f8f4ff;
$mist: #f0eaff;
$darkcoral: #ce2549;
$darkglen: #116851;

// Accents
$glen: #00b786;
$coral: #f96254;

// HEIGHTS
$footer-height: 70px;

// HORIZONTAL SPACING
$side-padding-xsmall: 25px;
$side-padding-small: 35px;
$side-padding-medium: 50px;
$side-padding-large: 70px;

// FONTS

// Font families
$body-copy: 'Assistant', sans-serif;
$display: 'Fredericka the Great', cursive;

// Font sizes
$main-copy: 14px;
$heading1: 36px;
$heading2: 28px;
$heading3: 24px;
$heading4: 18px;
